@import url('foundation.css');
/* Author: Robert Doucette  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

h2, p, hr {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

header img {
    max-width: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

#logo {
    height: 150%;
    position: absolute;
}

header nav {
    background: url('../img/ombre1.gif');
    padding-top: 5px;
}

header nav ul {
    height: 22px;
    margin: 0 0 0 150px;
}

header nav ul li {
    float: left;
    position: relative;
}

header nav ul li a {
    font-weight: bold;
    margin: 0 0 0 21px;
    padding: 0 20px 0 0;
    text-decoration: none;
}

header nav ul li a, header nav ul li a:visited {
    color: #6F6C6C;
}

header nav ul li:hover a {
    color: #069;
    margin-left: 0;
}

header nav ul li:hover > a:before {
    content: url('../img/arrow_29.gif');
    margin-right: 5px;
}

header nav ul li ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

header nav ul li:hover ul {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
}

header nav ul li ul li a {
    background: white;
    color: #069;
    display: block;
    font-size: 0.8em;
    font-weight: normal;
    padding: 10px 0 10px 18px;
    width: 140px;
}

header nav ul li ul li:hover a {
    color: maroon;
    padding-left: 0;
    padding-right: 18px;
}


header nav ul li ul li:hover a:before {
    content: url('../img/tclarrowblack.gif');
    margin-right: 0;
}

#main {
    margin: 0 auto;
    position: relative;
    width: 90%;
}

.sidebar {
    position: absolute;
    top: 70px;
    width: 165px;
    z-index: 2;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li:first-child{
    margin: 0;
}

.sidebar ul li a {
    text-decoration: none;
}

.sidebar ul li fieldset {
    border: 1px solid gray;
    font-size: 0.8em;
    margin-bottom: 15px;
    padding: 0 5px 5px 5px;
    width: 150px;
}

.sidebar ul li fieldset ul li {
    margin-top: 20px;
}

.sidebar ul li legend {
    color: #336699;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 5px;
    padding-bottom: 5px;
}

.sidebar ul li img {
    float: left;
    margin: -2px 3px 0 0;
}

footer {
    background: url('../img/footer.png') no-repeat;
    bottom: 0;
    clear: both;
    font-size: 0.5em;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 2px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer p {
    color: white;
    margin: 0;
    padding: 0;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */

#content {
    font-size: 0.9em;
    margin: 80px 0 0 250px;
    padding: 50px 0 0 0;
    position: relative;
}

#content div {
    margin-bottom: 20px;
}

#content div:first-child img {
    float: left;
    margin: 10px 5px 0 0;
}

#content div:first-child h2 {
    text-transform: uppercase;
}

#content h2 {
    color: #336699;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    position: relative;
    text-transform: capitalize;
}

#content h2:before {
    bottom: 3px;
    content: url('../img/arrow_29.gif');
    padding-right: 10px;
    position: relative;
}

#content hr {
    margin: 0 0 20px 0;
}

#content div blockquote {
    color: #006699;
    font-style: italic;
}

#rencontres
{
    float: left;
    position: relative;
    width: 35%;
}

#rencontres ul {
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#rencontres ul li
{
    float: left;
    list-style: none;
}

#cours {
    float: right;
    position: relative;
    width: 60%;
}

#cours img {
    float: right;
    position: relative;
}

#cours p, #objectifs p {
    margin: 0;
    padding-bottom: 10px;
}

#objectifs {
    float: right;
    position: relative;
    width: 60%;
}


/* -----------------------------------------
   Page Name 2
----------------------------------------- */


